body{background-color: #dedede;margin: 0;font-family:  "微软雅黑"}
nav{position:fixed; height: 20px; background-color:#333333;top:0;width: 100%; padding: auto; height: 60px}
#logo{padding: 10px 30px}
#nav ul{float:right; font-size:12px;padding-top: 15px;padding-right: 20px}
.inline{display: inline-block;}
.nav{color: white; text-decoration: none}
section,aside{ margin: 20px;padding:20px; border: 1px solid #e1e1e1;background-color: white; 
	border:1px solid #cdcdcd; box-shadow: 2px 2px #848484}
#begin{margin-top: 80px}

footer{background-color: #333333;text-align: center;color: white;height: 40px;padding-top: 20px;margin: 0}